<a href="https://colab.research.google.com/github/JamieMilliken/JamieMilliken.github.io/blob/main/DebtComparisonWK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Debtdata_wk3.csv')

In [ ]:
df.head(4)

         Year      France    Germany       Japan  Great britain         USA
0  01/10/2021  112.836675  68.622975  245.208802     108.760650  117.900515
1  01/07/2021  115.403983  68.556714  244.697214     108.628754  117.565295
2  01/04/2021  114.191355  68.677498  245.280855     108.985847  120.049582
3  01/01/2021  117.680285  68.976666  246.461178     109.881623  123.936501

In [ ]:
df2 = df.set_index(['Year'])

In [29]:
df3 = df2.stack().reset_index()

In [38]:
df4 = df3.rename(columns={'level_1':'Country',0:'Debt (%GDP)' })

In [39]:
df4

           Year        Country  Debt (%GDP)
0    01/10/2021         France   112.836675
1    01/10/2021        Germany    68.622975
2    01/10/2021          Japan   245.208802
3    01/10/2021  Great britain   108.760650
4    01/10/2021            USA   117.900515
..          ...            ...          ...
435  01/01/2000         France    59.543565
436  01/01/2000        Germany    60.402040
437  01/01/2000          Japan   118.612688
438  01/01/2000  Great britain    37.641858
439  01/01/2000            USA    53.252041

[440 rows x 3 columns]

In [34]:
exported_values = list( df4.T.to_dict().values() )

In [35]:
import json

In [36]:
# json.dumps(exported_values)

In [37]:
open('debtwk3jsonfile.json','w').write(json.dumps(exported_values))

32425